/Clase_1/C2PROGRA_CLASE1/nbproject/private/
/Clase_1/C2PROGRA_CLASE1/build/
/Clase_1/Semana_1_Practica/nbproject/private/
/Clase_1/Semana_1_Practica/build/
/Clase_1/Calculadora/nbproject/private/
/Clase_1/Calculadora/build/
/Clase_1/Cuestionario_Basico/nbproject/private/
/Clase_1/Salario_Calculo/build/
/Clase_1/Salario_Calculo/nbproject/private/
/Clase_1/Sistema_Notas_If/nbproject/private/
/Clase_1/Sistema_Notas_If/build/
/Clase_2/C2_Clase2/nbproject/private/
/Clase_2/C2_Clase2/build/
/Clase_2/Switch_Inicio/nbproject/private/
/Clase_2/Switch_Inicio/build/
/Clase_2/Resumen_Semana2/nbproject/private/
/Clase_2/Resumen_Semana2/build/
/Clase_2/Semana3_Clase/nbproject/private/
/Clase_3/Semana3_Clase/nbproject/private/
/Clase_3/Semana3_Clase/build/
/Clase_3/Prectica_Evaluada1_AshleyMc/nbproject/private/
/Clase_3/Prectica_Evaluada1_AshleyMc/build/
/Clase_3/Practica_PullRequest/nbproject/private/
/Clase_3/clase4/nbproject/private/
/Clase_3/clase4/build/
/clase_5/Clase_5/nbproject/private/
/clase_5/C5_Motos/nbproject/private/
/clase_5/C5_Motos/build/
/clase_5/C5_Movies/nbproject/private/
/clase_5/C5_Movies/build/
/clase_6/Clase6/nbproject/private/
/clase_6/Usuario/nbproject/private/
/clase_6/prueba/nbproject/private/
/Practica_Examen1/PracticaEnum/nbproject/private/
/Practica_Examen1/PracticaEnum/build/
/Practica_Examen1/Almacen_Libros/nbproject/private/
/Practica_Examen1/Almacen_Libros/build/
